:root {
    --text-color: black;
    --background-color: white;
}

body.dark-mode {
    --text-color: white;
    --background-color: black;
}


body {
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  background-color: var(--background-color);
  color: var(--text-color);
}

.theme-toggles {
  position: fixed; 
  top: 0.5vw; 
  right: 0.5vw; 
  background-color: rgba(0,0,0,0.5);
}

h1 {
  text-align: center;
}